/* ステータスバー */
div#noteex_statusbar, div#noteex_statusbar > div {
  border: 1px solid gray;
  background-color: white;
}

div#noteex_statusbar {
  position: fixed;
  cursor: pointer;
  bottom: 0;
  left: 0;
  height: 2em;
  width: 100%;
}

div#noteex_statusbar > div {
  float: left;
  margin: 2px;
  padding: 2px;
  width: 8em;
  text-align: right;
}

/* 詳細ダイアログ */
dialog#noteex_detail_dialog{
  width: 90%; 
  height: 90%;
}

dialog#noteex_detail_dialog > label > textarea {
  display: block;
  width: 100%;
  min-height: 20em;
}